html {
    box-sizing: border-box;
    font-size: 62.5%;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

:root{
    --morado: #572EE5;
    --gris: #F3F5F8;
    --verde: #50E3C2;
    --negroFuerte: #000000;
    --negro: #222326;
    --negroBajo: #37383C;
    --blaco: #ffffff;
    --fuentePrincipal: 'Montserrat', sans-serif;
    --fuenteSecundarioa: 'Roboto', sans-serif;
}

body{
    font-family: var(--fuentePrincipal);
    border-top: 4px solid var(--negroFuerte);
    border-bottom: 4px solid var(--negroFuerte);
    margin: 0;
    min-height: 100vh;
    background-color: var(--negroBajo);
}

h1, h2, h3, h4{
    font-family: var(--fuentePrincipal);
    color: var(--blaco);
    margin: 1rem 0;
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.5rem;
}

p{
    font-size: 2rem;
    margin: 1rem 0;
}

a{
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal);
}

img{
    max-width: 100%;
}

/** REUTILIZABLES **/

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}

.centrado{
    text-align: center;
}
                            
.izquierda{
    text-align: left;
}

.derecha{
    text-align: right;
}

.marginado{
    margin: 1rem 0;
}

.verde{
    color: var(--verde);
}


.overflow{
    overflow: hidden;
}

.capatalize{
    text-transform: capitalize;
}

.hoover-padre{
    width: 210.453px;
    height: 22rem;
    background-position: center center;
    background-size: cover;
    background-repeat: repeat;
}

@media (min-width:1350px){
    .hoover-padre{
        width: 28rem;
    }
}

.hoover-hijo{
    background: rgba(87,46,229,0.90);
    opacity: 0.7;
    width: 100%;
    height: 100%;
    margin: 0;
}

.hoover-hijo div:first-child{
    text-align: right;
}

.opciones-gif-hoover img{
    width: 4rem!important;
    margin: 1rem .1rem!important;
    height: 2.2rem!important;
    position: relative;
    z-index: 2;
}

.hoover-hijo div:last-child{
    margin: 9rem 0;
    padding: 0 1rem;
}

.hoover-hijo p:first-child{
    font-size: 1.4rem;
    color: var(--blaco);
    font-weight: bold;
}

.hoover-hijo p:last-child{
    font-size: 1.6rem;
    color: var(--blaco);
    font-weight: bold;
}

/** BOTONES **/

.boton{
    display: inline-block;
    text-decoration: none;
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.boton-morado{
    border-radius: 3rem;
    border: 1px solid var(--blaco);
    padding: 1rem 2rem;
    font-weight: 500;
    color: var(--blaco);
}

/** HEADER **/

.header-principal{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 2rem;
}

@media (min-width:1024px){
    .header-principal{
        margin: 1rem 3rem;
        max-width: 120rem;
        justify-content: space-between;
    }
}

@media(min-width:1350px){
    .header-principal{
        margin: 1rem auto;
    }
}

/** NAVEGACION PRINCIPAL **/

.nav-principal{
    display: none;
}

.nav-fixed{
    text-align: center;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--negroFuerte);
    opacity: 1;
    position: fixed;
    top: 10rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: all .4s ease-in-out;
}

.nav-principal a{
    margin: 2rem 0;
    padding: 2rem .1rem;
    border-bottom: 2px solid var(--blaco);
    color: var(--blaco);
    font-weight: 500;
}

.agregar-gif{
    display: inline-block;
}

.menu-mobile{
    font-size: 2.5rem;
    color: var(--blaco);
}

.cerrar-menu{
    display: none;
    font-size: 2.5rem;
    color: var(--blaco);
}

@media (min-width:1024px){
    .menu-mobile{
        display: none;
    }
    .cerrar-menu{
        display: none;
    }
    .nav-principal {
        display: block;
    }
    .agregar-gif{
        display: inline-block;
        border: 1px solid var(--blaco);
        padding: 1.1rem 1.3rem!important;
        border-radius: 8rem;
        transition: all .3s ease-in-out;
    }
    .nav-principal a{
        color: var(--blaco);
        border-bottom: transparent;
        margin: 0 1.5rem;
        padding: .1rem;
        transition: all .3s ease-in-out;
    }
}

/** SECCION BUSQUEDA **/

.busqueda{
    position: relative;
    margin: 2rem 0;
}

.busqueda input{
    border: 1px solid var(--blaco);
    border-radius: 4rem;
    display: inline-block;
    width: 95%;
    padding: 2.5rem 5rem;
    background-color: var(--negroBajo);
}

.busqueda-realizada{
    border-top: 0  !important;
    border-left: 0  !important;
    border-right: 0  !important;
    border-bottom: 2px solid var(--blaco)!important;
    border-radius: 0 !important;
    width: 80% !important;
    padding: 2.5rem !important;
}

.busqueda input::placeholder{
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
}

.contenido-resultado-busqueda{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem auto auto;
    transition: all .3s ease-in-out;
    width: 95%;
}

.contenido-resultado-busqueda img{
    width: 15rem;
    height: 13rem;
    flex-basis: calc(50% - 1rem);
    margin: 1rem 0;
    cursor: pointer;
}

@media (min-width: 768px){
    .contenido-resultado-busqueda img{
        width: 15rem;
        height: 22rem;
        flex-basis: calc(33% - 1rem);
    }
}

@media (min-width: 1024px){
    .contenido-resultado-busqueda img{
        width: 15rem;
        height: 22rem;
        flex-basis: 22%
    }
}

.trending{
    margin: 3rem 0;
}

.trending p{
    color: var(--blaco);
    font-weight: 500;
    line-height: 3rem;
}

.trending-resultado{
    display: flex;
    justify-content: space-evenly;
    max-width: 45rem;
    margin: auto auto;
    flex-wrap: wrap;
}

.trending-resultado p{
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

.busqueda-border{
    border: 1px solid var(--blaco);
    border-radius: 4rem;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.sugerencias{
    text-align: left;
    color: #9CAFC3;
}

.ctn-parrafo-suge{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.ctn-parrafo-suge i{
    flex-basis: 10%;
    margin: 0 0 0 5rem;
}

.ctn-parrafo-suge p{
    flex-basis: 90%;
    text-align: left;
}

#ilustra-header{
    max-width: 80%;
}

.icono-search{
    height: 2rem;
    position: absolute;
    bottom: 1.9rem;
    right: 2.4rem;
    overflow: hidden;
}

.icono-serach-busqueda{
    height: 2.5rem;
    position: absolute;
    top: 1.9rem;
    bottom: 0;
    right: 2.4rem;
    overflow: hidden;
}

@media (min-width:768px){
    #ilustra-header{
        max-width: 100%;
    }
    .icono-search{
        right: 4.4rem;
    }
    .busqueda-border{
        width: 77%;
    }
    .icono-serach-busqueda{
        right: 5.4rem;
    }
}

@media (min-width:1024px){
    #ilustra-header{
        max-width: 120%;
    }
    .h1-escritorio{
        max-width: 60rem;
    }
    .seccion-busqueda{
        margin: 5rem auto;
    }
    .busqueda img:first-child{
        width: 50%;
    }
    .busqueda input{
        width: 60%;
        padding: 2rem 5rem;
    }
    .icono-search{
        bottom: 1.5rem;
        right: 23rem;
    }
    .icono-serach-busqueda{
        right: 7rem;
    }
    .busqueda-border{
        width: 70%;
    }
}

.gif-max{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--negro);
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
}

.gif-max-img{
    width: 100%;
    height: 33.3rem;
}

#close-gif-max{
    width: 1.5rem;
    padding: 2rem 0;
}

.contenedor-info-gif{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor-info-gif div:first-child{
    text-align: left;
}

.contenedor-info-gif div:first-child p:first-child{
    font-size: 1.5rem;
    color: var(--blaco);
}

.contenedor-info-gif div:first-child p:last-child{
    font-weight: bold;
    color: var(--blaco);
    font-size: 1rem;
}

.contenedor-info-gif div:last-child{
    text-align: right;
    cursor: pointer;
}

.contenedor-info-gif div:last-child img{
    width: 36%;
    margin: 0 5px;
}

@media (min-width:768px){
    .gif-max-img{
        width: 36.4rem;
        height: 36.4rem;
        margin: 0 auto;
    }
    .contenedor-info-gif{
        justify-content: space-around;
    }
    #close-gif-max{
        margin-right: 18rem;
    }
}

@media (min-width:1024px){
    .gif-max-img{
        width: 54rem;
        height: 33rem;
        margin: 4rem auto;
    }
    #close-gif-max{
        margin-right: 19rem;
    }
    
}

@media (min-width:1350px){
    .gif-max-img{
        width: 54rem;
        height: 40rem;
        margin: 0 auto;
    }
    #close-gif-max{
        margin-right: 19rem;
    }
    
    .icono-search{
        right: 31rem;
    }
    
}


/** SECCION TRENDING **/

.seccion-trending{
    margin: 4rem auto;
    padding: 6rem 0;
    background-color: var(--negro);
}

.contenedor-seccion-trending p{
    font-weight: 500;
    line-height: 3rem;
    color: var(--blaco);
}

.gifos-trending {
    display: grid;
    grid-template-columns: 100%;
    overflow: scroll;
}

.gifos-trending::-webkit-scrollbar{
    display: none;
}

.contenido-gifos-trending{
    display: flex;
    justify-content: space-between;
    overflow: scroll;
}

.contenido-gifos-trending::-webkit-scrollbar{
    display: none;
}

.gif-com2{
    width: 20rem;
    height: 20rem;
    margin: 1rem;
}

.info-gifos{
    display: none;
}

.slider-button{
    display: none;
    cursor: pointer;
    transition: all .4s ease-in-out;
}

@media (min-width:768px){
    .gif-com2{
        width: 20rem;
        height: 22rem;
    }
}

@media (min-width:1024px){
    .gifos-trending{
        grid-template-columns: 10% 80% 10%;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
    }
    .contenido-gifos-trending{
        margin: 0 1rem;
    }
    .gif-com2{
        min-width: 22rem;
        min-height: 22rem;
    }
    .hoover-trending{
        background-size: cover;
        background-position: center center;
        margin: 1rem;
        min-width: 22rem;
        min-height: 22rem;
    }
    .hoover-trending-hijo{
        background: rgba(87,46,229,0.90);
        opacity: 0.7;
        width: 100%;
        height: 100%;
        transition: all .3s ease-in-out;
    }
    .trending-opciones-gif-hoover{
        text-align: right;
    }
    .trending-opciones-gif-hoover img{
        width: 4rem!important;
        margin: 1rem .1rem!important;
        height: 2.2rem!important;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }
    .hoover-trending-hijo div:last-child{
        margin-top: 3rem;
        padding: 0 1rem;
        text-align: left;
    }
    
    .hoover-trending-hijo p:first-child{
        font-size: 1.3rem;
        color: var(--blaco);
        font-weight: bold;
    }
    
    .hoover-trending-hijo p:last-child{
        font-size: 1.5rem;
        color: var(--blaco);
        font-weight: bold;
    }
    .info-gifos{
        display: inline-block;
    }
    .slider-button{
        display: inline-block;
        width: 4rem!important;
        transition: all .3s ease-in-out;
    }
}

@media (min-width:1350px){
    .gif-com2{
        min-width: 22rem;
        min-height: 22rem;
    }
}


/** FOOTER **/

.footer-principal p:last-child{
    margin: 3rem 0;
    font-weight: 500;
    color: var(--blaco);
}

.compartir p{
    font-weight: 500;
    color: var(--blaco);
}

.sociales{
    margin: 2rem 0;
}

.sociales a{
    display: inline-block;
    margin: 0 1rem;
    font-size: 3rem;
    color: #CDD6E0;
    transition: all .3s ease-in-out;
}

@media (min-width:1024px){
    .footer-principal{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    .compartir{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sociales{
        margin: 2rem;
    }

}
/** FAVORITOS **/

.seccion-favoritos{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.contenedor-seccion-favoritos i{
    color: var(--verde);
    font-size: 3rem;
}

.favoritos{
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.verdee{
    color: var(--blaco);
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    max-width: 30rem;
    margin: 3rem auto;
}

.favoritos img{
    margin: 1rem 0;
    width: 20rem;
    height: 13rem;
}

@media (min-width:768px){
    .favoritos{
        grid-template-columns: repeat(3,1fr);
    }
    .favoritos img{
        height: 22rem;
        width: 22rem;
    }
}

@media (min-width:1024px){
    .favoritos{
        grid-template-columns: repeat(4,1fr);
    }
    .favoritos img{
        width: 21rem;
        height: 22rem;
    }
}

@media (min-width:1350px){
    .favoritos img{
        width: 28rem;
    }
}

/** CREAR GIF **/

#camara-crear{
    display: none;
}

#pelicula-crear{
    display: none;
}

.contenedor-crear-gif{
    border: 2px solid var(--verde);
    padding: 2rem;
}

.contenido-crear-gif h1{
    padding: .5rem;
}

.contenedor-crear-gif p{
    font-size: 1rem;
    font-weight: bold;
}

.pasos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.paso{
    border: 1px solid var(--verde);
    border-radius: 5rem;
    padding: .7rem 1rem;
    margin: 3rem 0 2rem 0;
}

.paso-completo{
    background-color: var(--verde);
}

.paso p{
    margin: 0;
    font-size: 1rem;
    color: var(--verde);
    font-weight: bold;
}

.paso-completo p{
    color: var(--blaco);
}

.border-pasos{
    background-color: var(--verde);
    padding: .5rem 1rem;
    border-radius: 5rem;
    margin: 2rem 0;
}

#crear-gif{
    margin: 2rem 0;
}
.repetir-captura{
    text-align: center;
}

.repetir-captura p{
    color: var(--morado);
    text-decoration: underline;
    text-decoration-color: var(--verde);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#vid{
    width: 26.5rem;
    height: 35rem;
    margin: 1rem;
}

#vid2{
    width: 40rem;
    height: 35rem;
    margin: 2rem 0;
}

.contenedor-crear-gif-completo{
    background-position: center center;
    background-size: cover;
    width: auto;
    height: 35rem;
    margin: 2rem 0;
}

.contenido-subiendo-gif{
    padding: 13rem 0;
    background: rgba(87,46,229,0.90);
    opacity: 0.5;
    height: 100%;
    z-index: 2;
}

.contenido-subiendo-gif img{
    width:3rem;
    z-index: 4;
    position: relative;
}

.contenido-subiendo-gif p{
    color: var(--blaco);
    font-weight: bold;
    position: relative;
    z-index: 4;
    font-size: 1.5rem;
    opacity: 2;
}
.opciones-gif-creado{
    text-align: right;
    margin: 3rem 0;
}

.opciones-gif-creado img{
    font-size: 3rem;
}
@media (min-width:768px){
    .contenedor-crear-gif{
        min-height: 50rem;
        padding: 17rem;
    }
    #vid{
        width: 70rem;
        height: 40rem;
        margin: 4rem 0;
    }
    #vid2{
        width: 55rem;
        height: 38rem;
        margin: 6rem 0;
    }
    .contenedor-crear-gif-completo{
        width: 55rem;
        height: 38rem;
        margin: 7rem auto;
    }
    .opciones-gif-creado img{
        font-size: 3rem;
        margin: 0 1rem;
        cursor: pointer;
    }
}

@media (min-width:1024px){
    .seccion-crear-gif{
        position: relative;
    }
    .contenedor-crear-gif{
        max-width: 70rem;
        margin: auto auto;
    }
    #camara-crear{
        display: inline-block;
        position: absolute;
        top: 15rem;
        left: -4rem;
    }
    #pelicula-crear{
        display: inline-block;
        position: absolute;
        right: -5rem;
        bottom: 13rem;
    }#vid{
        height: 45rem;
    }
    #vid2{
        height: 40rem;
        margin: 4rem 0;
    }
    .contenedor-crear-gif-completo{
        width: 40rem;
        margin: 7rem auto;
    }
}

@media (min-width:1350px){
    #camara-crear{
        left: 5rem;
    }
    #pelicula-crear{
        right: 3rem;
    }
    .contenedor-crear-gif-completo{
        width: 58rem;
    }
}

/** HOOVER **/

@media (min-width:1024px){
    .nav-principal a:hover:not(:last-child){
        border-bottom: 2px solid var(--verde);
    }
    .agregar-gif:hover{
        background-color: var(--blaco);
        color: var(--negroBajo);
    }
    .sociales a:hover {
        color: var(--blaco);
    }

    .boton-morado:hover{
        background-color: var(--blaco);
        color: var(--negroBajo);
    }
}